
body {
	background-color: #2E3192;;
	margin: 0px;
}

img {  
	border-style: none;
}
#header {
	text-align: center;
	background-color: #458CCC;
	margin: auto;
	width: 40%;
	margin-bottom: 10px;
}

#navbar {
	margin: auto;
	/*background-color: #fAFAFA*/
}

.clear {
	clear: both;
}

#navbar ul {
	margin-left: 280px;
}

#wrapper {
	margin: auto;
	width: 1024px;
	background-color: #458CCC;
	/*box-shadow: 1px 1px 4px #999, 5px 0 20px #333333; */
	box-shadow:  0px 0px 10px 5px #333333;
}

#content {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	line-height: 175%;
	font-size: medium;
	font-weight: normal;
	/*background-color: #458CCC;*/
	color:  white;
}


.slider {
	margin: auto;
	position: relative;
	width: 600px; 
	height: 300px;
}

.slider .container {
	cursor: move;
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.box {
	border-radius: 3px;
	background: #fAFAFA;
	width: 75%;
	padding: 10px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	box-shadow: 1px 1px 4px #999, 5px 0 20px #999;
	/*box-shadow: 0px 0px 10px 3px #444444;*/
	color: #555555;
}

.goal {
}

.goal .thermometer {
	position:relative;
	float: left;
	width: 25%;
	left: 50px;
}
.goal .description {
	position: relative;
	text-align: left;
	margin-top: 13px;
	float:right;
	width: 70%;
	right: 30px;
}
#intro {
	text-align: justify;
}

.video {
	width: 75%;
	padding: 10px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

#footer {
	position: relative;
	text-align: center;
}

#footer_promotion {
	position:absolute;
	bottom: 10px;
	left: 0px;
	width: 100%;
	font-variant:small-caps;
	font-size: x-large;
	font-weight: bold;
	background-color: rgba(68,140,203,.6);
	font-family: times;
	padding:0px;
	margin: 0px;
}
#footer_promotion a {
	color: white;
}
#footer_promotion a:hover {
	color: yellow;
}

#main {
	padding: 30px;
}
#mission {
  font-size: large;
  text-align: center;
}

#locations {
	font-weight: bold;
	font-size: x-large;
	text-decoration: none;
 
}

.locationList {

	-webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
	text-align: center;
	padding: 0px;
}
.locationList ul {
	margin-top: 0px;
}
.locationList .area {
	padding-bottom: 10px;
break-inside: avoid-column;
}
.locationList .area .title {
	font-weight: bold;
	font-size: large;

}

.locationList .location {
	padding-left: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	font-size: medium;
	text-decoration: none;
}

.locationList .location .name {

}

.locationList .location .incentive {
	font-weight: bold;
	color: #880000;
	font-size: small;
}


#hashtag {
	font-weight: bold;
	font-size: large;
}

.dropName {
	font-size: x-large;
	
}

.dropAddress {
	font-size: large;
}

.dropNote {
	font-size: medium;
	font-style: italic;
}

.dropPhone {
	font-size: large;
}

.dropHours {
	front-size: small;
}

.dropUrl {
	font-style: italic;
	font-size: small;
}

.dropIncentive {
	font-weight: bold;
	color: #880000;
	line-height: 75%;
	font-size: small;
}


a:link {
	color: #000088;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000088;
}
a:hover {
	text-decoration: none;
	color: #FFF203;
}
a:active {
	text-decoration: none;
}
/* CSS Hack for hiding the LIKE count */
div.fb-like span {
  display:block;
  width:48px !important;  
}

div.fb-like iframe {
  width:48px !important;
}

div.fb-like iframe.fb_iframe_widget_lift {
  width:450px !important;
}

/* CSS Hack for hiding the FOLLOW count */
div.fb-follow span {
  display:block;
  width:60px !important;  
}

div.fb-follow iframe {
  width:60px !important;
}

div.fb-follow iframe.fb_iframe_widget_lift {
  width:450px !important;
}