html, body {
  
  background-color: #594F68;
 }

.row {
	max-width: 1000px;
}

.content {
	background-color: white;
}

.header img {
	padding: 0px;
	width: 100%;
}

.row .grid {
	margin:0px;
	padding:20px;
}

/*
	 Area Box Overides from Foundation
*/
.area .pricing-table {
	border: none;
}

.area .pricing-table .bullet-item {
	border: none;
	padding: 5px;
}
.area .pricing-table .title {
   background-color: transparent;
   color: black;
   padding:3px;
 }
.area .pricing-table .title hr {
	margin:0;
	margin-top:3px;
	width: 60%;
	margin:auto;
}

 .area .name {

 }

 .area .incentive {
 	font-style: italic;
 	font-size: smaller;
 	color: red;
 }


