html, body {
  
  background-color: #EEEEEE;
 }

.content {
	/*background-color: white;*/
}

.header img {
	padding: 0px;
	width: 100%;
}

.row .grid {
	margin:0px;
	padding:20px;
}

.box {
	border: 1px solid #cccccc;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 8px 6px -6px #cccccc;
	background-color: #fafafa;
}


.box .title {
	padding: 10px;
	margin-top: -10px;
	margin-left:-10px;
	margin-right:-10px;
	margin-bottom: 10px;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px #cccccc;
	background-color: #cccccc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.box .title.light-steal-blue {
		background-color: #A2B5CD;

}
.box .title.light-steal-blue a {
	color: #333333;
	font-weight: :bold;
}

.location-list li {
	list-style-type: :none;
}

.area {
	text-align: center;
}

 .area .name {

 }

 .area li {
 	padding-top: 10px;
 	list-style-type: none;
 	border-bottom: 1px solid #dddddd;
 	padding-bottom: 10px;
 }
 .area li:last-of-type {
 	border-bottom: none;
 }

 .area .incentive {

 	font-size: smaller;
 	color: #00AA00;
 }

