
<div class="area box radius shadow" style="min-height: 18em">
	<div class="title chargers-blue">{{#link-to 'area' this}}{{name}}{{/link-to}}</div>
    <ul>
    {{#each location in locations}}
        <li class="location">
        {{#link-to 'location' location}}
            <div class = "name">
                {{location.name}}
            </div>
            <div class = "incentive">
                {{location.incentive}}
            </div>
        {{/link-to}}
        </li>
    {{/each}}
    </ul>
</div>