<div>New Area: {{input placeholder = "Name" value = controller.newArea.name}}</div>
<button {{action 'addArea'}}>Add Area</button>
<ul>
	{{#each}}
	<li>{{#link-to 'area' this}}{{name}}{{/link-to}}
		<ul>
			{{#each location in locations}}
				<li>{{#link-to 'location' location}}{{location.name}}{{/link-to}}</li>
			{{/each}}
		</ul>
	</li>
	{{/each}}
</ul>
