<div class = 'row'>
	<div class = 'box'>
		<div class = 'title'>
			Locations
		</div>
		<div class = 'large-12 columns'>
			We have many locations around the county which are accepting blanket donations. Click on a location below to get directions, hours, and contact information.
		</div>
		<div class = 'row grid'>
			<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
			    {{#each}}
			    	<li>
			    		{{render "area" this }}
					</li>
			    {{/each}}
			</ul>
		</div>
	</div>
</div>
