
	<div class = 'title'>
		Locations
	</div>
	<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
	    {{#each}}
	    	<li>
	    		{{partial "partials/area-box"}}
			</li>
	    {{/each}}
	</ul>
