<div class = 'row grid'>
	<div class = 'large-12 columns'>
		<p style = "text-align:center; font-weight: bold">
			Its Cold Outside Lets Take Care of our Homeless!</p>
		<p style = "text-align:center; font-weight: bold">
			Our Goal is 1000 Blankets before Thanksgiving</center>
		</p>
		<p><center>Please join us in "covering" San Diego! This is a community inspired event. Everyone involved has just one goal. Collect Blankets for our Homeless. There is no Corporate sponsor or anyone backing us. Just a group of people who want to try to make a small difference for our community. With the Help of all of our wonderful Drop Off locations anyone from anywhere in San Diego can drop off blankets.</p>
		<p>100% of the blanket donations will be donated directly to the homeless. Through the efforts of volunteers and various charities we will be handing them out weekly until the drive is over. All areas of San Diego will benefit!</center></p>
	<div>
</div>
